/***********
* Genereal *
***********/

body{
  font-family: 'Open Sans', sans-serif;
}
#wrapper{
  max-width:940px;
  margin: 0 auto;
  padding : 0 5%;
}

a{
  text-decoration: none; 
}

img{
  max-width: 100%; 
}

h3{
  margin: 0 0 1em 0; 
}
/***********
* Heading *
***********/

header{
  float : left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width:100%;
}

#logo{
  text-align:center;
  margin:0;
}

h1{
  font-family: 'Mate', serif;
  margin: 15px 0;
  font-size: 5em;
  padding-top: 3px;
  line-height: 0.8em;
}

h2{
  font-family: 'Mate', serif;
  font-size: 3em;
  margin:-10 0 0;
  font-weight: normal;
}

/***********
* Navigation *
***********/

nav{
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul{
  list-style:none;
  margin: 0 10px;
  padding: 0;
}

nav li{
  display: inline-block;
}

nav a{
  font-weight:800;
  padding: 15px 10px;
  
}
/***********
* Footer *
***********/

footer{
  font-size:0.75em;
  text-align:center;
  padding-top: 50px;
  color: #ccc;
  clear:both;
}

.social-icon{
 width:20px;
 height: 20px; 
 margin : 0 20px;
}

/********************
* Page : portfolio  *
********************/
#welcome-section{
/*  background-image:url(../img/SkyWallpaper.jpeg);*/
  height:100%;
  width:100%;
  background-color:red;
}

#gallery{
  margin : 0;
  padding: 0;
  list-style: none;
}

#gallery li{
  float:left;
  width:45%;
  margin:2.5%;
  background-color: #313331;
  color: #5A5E5A;
}

#gallery li a p{
 margin: 0;
 padding: 5%;
  font-size: 0.75em;
  color : #bdc3c7;
}

/********************
* Page : about  *
********************/

.profile-photo{
  clear:both;
  display:block;
  max-width:150px;
  margin: 0 auto 30px;
  border-radius: 100%;
}


/********************
* Page :  Contacts  *
********************/
.contact-info{
  list-style: none;
  padding:0;
  margin:0;
  font: 0.9em;
}

.contact-info a{
  display:block;
  min-height: 20px;
  background-repeat:no-repeat;
  background-size:20px 20px;
  padding:0 0 0 30px;
}
.contact-info li.phone a{
  background-image:url('../img/phone.png')
}

.contact-info li.email a{
  background-image:url('../img/mail.png')
}

.contact-info li.github a{
  background-image:url('../img/github.png')
}
.contact-info li.linkedin a{
  background-image:url('../img/linkedin.png')
}

/***********
* Colours *
***********/

/*Site Body*/
body{
  background-color: #fff;
  color:#999;
}

/*Green header*/
header{
  background: #70AC3E;
  border: #538F22;
}

/*Nav background on mobile devices*/
nav{
  background:#538F22;
}

/*Logo text*/
h1,h2{
  color: #fff;
}

/*Links*/
a{
  color: #2D882D;
}

/*Colour for a nav link*/
nav a, nav a:visited{
  color: #FFF; 
}

/*Selected nav link*/
nav a.selected, nav a:hover {
  color: #003112; 
}

